<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zoomable Circle Packing Chart</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <style>
    body {
      font-family: sans-serif;
      margin: 0;
      overflow: hidden;
    }
  </style>
</head>
<body>
  <!-- <div id="chart"></div>
  <script src="../static/js/chart.js"></script> -->
  <div id="wip_chart"></div>
  <script src="../static/js/wip_chart.js"></script>
</body>
</html>
